* {
	font-size: 100%;
	line-height: 1;
}

.logo {
	padding: 1rem 0;
	font-size: 1.25rem;
	font-weight: 600;
}

.nav-btn {
	z-index: 6;
	font-size: 1.2rem;
}

.nav-icon {
	width: 24px;
	height: 24px;
}

.nav-item {}

.nav-link {
	padding: 1rem 1.25rem;
	font-size: 0.95rem;
	font-weight: 500;
}

.main-title {
	margin-bottom: 1.5rem;
	color: #fafafa;
	font-size: 4rem;
	font-weight: 800;
}

.sub-title {
	color: #fafafa;
	font-size: 1.5rem;
	font-weight: 500;
}

.section-title {
	text-align: center;
	font-size: 2.5rem;
}

.small {
	text-align: center;
}

.footer-logo {
	margin-bottom: 2rem;
	text-align: center;
	font-size: 1.5rem;
	font-weight:600;
}

.footer-link {
	padding: 1rem 1.25rem;
}

.social-title {
	margin-bottom: 1.25rem;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 600;
}

.social-link {
	width: 3rem;
	height: 3rem;
	background-color: #f8fafc;
	border-radius: 50%;
	.social-icon {
		padding: 0.5rem 0;
		img {
			width: 2rem;
			height: 2rem;
			margin: 0 auto;
		}		
	}
}
@media screen and (max-width:769px) {
	.nav-link {
		padding: 1.5rem;
	}
	.nav-item {

	}

	.nav-link {
		padding: 1rem 1.25rem;
	}
}