.container-lg {
	width: 90%;
	max-width: 1440px;
	margin: 0 auto;
}

<<<<<<< HEAD
.container-md {
	width: 75%;
	margin: 0 auto;
}

=======
>>>>>>> ed2591bd9749c434405703836a00a307d3c7e389
.sp-only {
	display: none;
}

.pc-only {
	display: block;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}

<<<<<<< HEAD
.justify-center {
	justify-content: center;
}

=======
>>>>>>> ed2591bd9749c434405703836a00a307d3c7e389
.justify-between {
	justify-content: space-between;
}

<<<<<<< HEAD
.align-items-center {
	align-items: center;
}

=======
>>>>>>> ed2591bd9749c434405703836a00a307d3c7e389
.hidden {
	display: none;
}

@media screen and (max-width:769px) {
	.sp-only {
		display: block;
	}

	.pc-only {
		display: none;
	}
<<<<<<< HEAD
}
=======
}
>>>>>>> ed2591bd9749c434405703836a00a307d3c7e389
